@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(241, 240, 240); /* Default light */
  color: black; /* Default nero */
  transition: all 0.3s ease-in-out;
}

/* Dark/Light mode */
body.light {
  background-color: rgb(241, 240, 240);
  color: black;
}

body.dark {
  background-color: rgb(29, 26, 26);
  color: white;
}

/* Animazione gradiente per navbar, footer e link progetti */
.animate-gradient {
  animation: color-change-2x 2s infinite alternate linear;
}

/* Animazione personalizzata */
@keyframes color-change-2x {
  0% {
    background: rgb(141, 12, 141);
  }
  100% {
    background: #8b0000;
  }
}
